<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="app.component.css">
    <title>Lista De Compras</title>
</head>
<body>
  <h1 class="title-red">Lista De Compras</h1>

  <div class="shopping-table">
    <div class="shopping-row">
        <div class="shopping-cell">
            <h2>Comestibles</h2>
            <ul>
                <li>Arroz</li>
                <li>Carne</li>
                <li>Frutas</li>
                <li>Leche</li>
                <li>Pan</li>
                <li>Verduras</li>
            </ul>
        </div>
        <div class="shopping-cell">
            <h2>Productos de Limpieza</h2>
            <ul>
                <li>Detergente</li>
                <li>Esponjas</li>
                <li>Jabón</li>
                <li>Lavandina</li>
                <li>Toallas de papel</li>
            </ul>
        </div>
        <div class="shopping-cell">
            <h2>Electrónica</h2>
            <ul>
                <li>Auriculares inalámbricos</li>
                <li>Baterías</li>
                <li>Focos</li>
                <li>Laptop</li>
                <li>Smartphone</li>
                <li>Tablet</li>
            </ul>
        </div>
    </div>
</div>

<div class="shopping-table">
    <div class="shopping-row">
        <div class="shopping-cell">
            <h2>Ropa</h2>
            <ul>
                <li>Calcetines</li>
                <li>Camisetas</li>
                <li>Pantalones</li>
                <li>Vestidos</li>
                <li>Zapatos</li>
            </ul>
        </div>
        <div class="shopping-cell">
            <h2>Electrodomésticos</h2>
            <ul>
                <li>Aspiradora</li>
                <li>Horno de microondas</li>
                <li>Lavadora</li>
                <li>Plancha</li>
                <li>Refrigeradora</li>
            </ul>
        </div>
        <div class="shopping-cell">
            <h2>Juguetes</h2>
            <ul>
                <li>Carros de juguete</li>
                <li>Figuras de acción</li>
                <li>Muñecas</li>
                <li>Pelotas</li>
                <li>Puzzles</li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>